* {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #44af44;
}

#playing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 600px;
  height: auto;
  margin: 120px auto;
  padding-top: 40px;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 180px;
  height: 260px;
  padding: 2px 4px;
  border: 1px solid navy;
  border-radius: 6px;
  background-color: #ddeeff;
  box-shadow: 4px 4px 8px #1b331d;
  transition: 0.3s ease;
  font-family: Arial,sans-serif;
  cursor: pointer;
}

.left {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
}

.right {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  font-size: 26px;
  font-weight: bold;
  transform: rotate(180deg);
  align-items: center;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  font-size: 60px;
  min-height: 0;
}

.two {
  flex-direction: column;
  align-items: center;
}

.three {
  flex-direction: column;
  align-items: center; 
}

.four {
  flex-direction: column;
  align-items: center;
}

.five {
  flex-direction: column;
  align-items: center;
}

.rotate {
  transform: rotate(180deg);
}

.red {
  color: red;
}

.card:hover {
  transform: scale(1.03); 
  box-shadow: 6px 6px 12px #1b331d;
}

.left, .right {
  line-height: 1.1;
}
