body {
  min-height: calc(100vh - 100px);
  width: 90vw;
  margin: 0 auto;
  padding: 50px 0;
  background-color: gray;
}

h1 {
  text-align: center;
  font-size: 48px;
  margin: 40px auto;
  color: navy;
  padding: 5px;
}

.p-head {
  display: block;
  text-align: center;
  font-size: 24px;
  color: rgb(240, 240, 24)
}

.time-date {
  display: block;
  text-align: center;
  font-size: 18px;
  margin: 20px auto;
  padding: 10px;
  color: pink;
}

h2 {
  display: block;
  margin: 10px;
  padding: 40px;
  font-size: 32px;
}

hr {
  width: 90%;
  background-color: green;
}

.tab-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

section {
  width: 30%;
}

.event-tab {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  height: auto;
  padding: 10px;
  margin: 8px;
  background-color: darkgreen;
  color: lightgray;
  border-radius: 28px;
  border: 2px solid darkgray;
  box-shadow: 6px 10px 20px rgba( 0, 0, 0.8, 0.8);
}

.event-tab-2 {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  height: auto;
  margin: 5px;
  padding: 10px;
  background-color: navy;
  color: orange;
  border: 2px solid darkorange;
  box-shadow: 6px 10px 20px rgba(0, 0, 0.4, 0.8);
  border-radius: 28px;
}

.event-tab-3 {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  height: auto;
  margin: 8px;
  padding: 0;
  background-color: rgb(85, 13, 85);
  color: gold;
  border: 2px solid gold;
  box-shadow: 6px 10px 20px rgba(0, 0, 0.2, 1);
  border-radius: 28px;
}

.event-item {
  color: lightgray;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

.event-item-2 {
  color: orange;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}

.event-item-3 {
  color: gold;
  margin-top: 30px;
  margin-bottom: 90px;
  font-size: 20px;
}
.pic {
  display: block;
  width: 40%;
  min-width: 300px;
  margin: 20px auto;
  border: 2px solid black;
  border-radius: 36px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0.4, 0.8);
}

.pic-2 {
  display: block;
  width: 100%;
  min-height: 120px;
  border-radius: 0 0 28px 28px;
}

.foot-dec {
  display: block;
  text-align: center;
  width: 100%;
  color: lightgray;
  font-size: 16px;
  margin: 10px 5px;
  padding-top: 50px;
}
