html {
  box-sizing: border-box
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px;
  width: 100vw;
}

#main-doc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 22px;
  border: 1px solid #4b4b5c;
  width: 70%;
  margin: 0 32%;
  padding: 10px;
  background-color: #cecece;
}

#navbar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: fixed;
  margin: 0;
  background-color: #cecece;
  width: 30%;
  height: 100%;
  gap: 16px;
  box-shadow: 2px 2px 8px #4b4b5c;
}

#navbar header {
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  text-align: center;
  background-image: linear-gradient(100deg, #4b4b5c 0%, #cecece 50%, #4b4b5c 100%);
}  

#navbar h2 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 300;
}

#navbar a {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 1.4;
  font-weight: 600;
  text-decoration: 0;
}
