:root {
  --color0: #fafffa;
  --color1: #cfffcf;
  --color2: #66df66;
  --color3: #00bf00;
  --color4: #009f00;
  --color5: #007a00;
  --solid-border: 1px solid #2f2f2f;
  --dashed-border: 1px dashed #2f2f2f;
}

body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}


table {
  border-collapse: collapse;
  border: var(--solid-border);
}

tr th, td {
  padding: 5px;
}

tr:nth-of-type(odd) td {
  border-bottom: var(--dashed-border);
}

tr:nth-of-type(even) td {
  border-bottom: var(--solid-border);
  border-right: var(--dashed-border);
}

tr:nth-of-type(odd) td {
  border-bottom: var(--dashed-border);
  border-right: var(--solid-border);
}

tr:nth-of-type(odd) th {
  border-bottom: var(--dashed-border);
  border-right: var(--solid-border);
}

tr:nth-of-type(even) th {
  border-bottom: var(--dashed-border);
  border-right: var(--solid-border);
}

.available-0 {
  background-color: var(--color0);
}

.available-1 {
  background-color: var(--color1);
}

.available-2 {
  background-color: var(--color2);
}

.available-3 {
  background-color: var(--color3);
}

.available-4 {
  background-color: var(--color4);
}
