* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.075rem;
  background-color: #424ad4;
}

#container {
  min-width: 400px;
  margin: 40px auto;
  border: none;
  padding: 5px 10px;
  box-shadow: 4px 4px 12px 1px #8d8dff;
  border-radius: 8px;
  background-color: #8f8fbf;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 2.6em;
  font-weight: 400;
  letter-spacing: 0.8rem;
  border: 4px double #284ac8;
  border-radius: 8px;
  color: #efefef;
  background-color: #424ad4;
  box-shadow: 4px 4px 16px #2a2a44;
  text-shadow: 1px 2px 4px #fff; 
  padding: 0.175em;
  margin: 20px auto;
}

span {
  display: inline-block;
}

table {
  width: 100%;
  margin: 5px auto;
  border: 3px double #8a8aff;
  border-radius: 8px;
  box-shadow: 0px -4px 16px #2a2a44;
  letter-spacing: 0.05em;
  padding: 0.015em;
  background-color: #efefef;
  font-weight: 600;
  text-shadow: 2px 2px 8px #4b4b4a;
}  

tr[class="read"] {
  background-image: linear-gradient(90deg, #94a3b8 0%, #cbd5e1 50%, #94a3b8 100%);
  color: #2a2aff;
  width: 100%;
}

tr[class="to-read"] {
  background-image: linear-gradient(90deg, #cdaa9d 0%, #dfccdf 50%, #cdaa9d 100%);
  color: #2a2aff;
  width: 100%;
}

tr[class="in-progress"] {
  background-image: linear-gradient(100deg, #0a9396 0%, #c2d0ff 50%, #0a9396  100%);
  color: #2a2aff;
  width: 100%;
} 

tr[class="to-read"] span[class="status"] {
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 0.025em;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  box-shadow: 1px 2px 3px #222222;
  background-image: linear-gradient(90deg, #7c2d12 25%, #b45309 50%, #7c2d12 75%);
  color: #2a2a2a;
  text-shadow: 1px 1px 2px #c2c2c2;
}

 span[class^="rate"] > span {
  border: 3px double #2f2faf;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #0a0a0a;
  margin: 3px;
  padding: 0.025em;
  width: 1em;
  height: 1em;
  background-color: #dfdfdf;
}

tr[class="read"] span[class="status"] {
  border: 1px solid #dfdfdf;
  width: 100%;
  padding: 0.025em;
  border-radius: 8px;
  text-align: center;
  box-shadow: 1px 3px 4px #4c4cb2;
  background-image: linear-gradient(90deg, #6366f1 0%, #a5b4fc 50%, #6366f1 100%);
  font-size: 1.2em;
  font-weight: 500;
  color: #2a2aff;
  text-shadow: 1px 1px 3px #4c4c4c;
}

tr[class="in-progress"] span[class="status"] {
  border: 3px double #fff;
  width: 100%;
  padding: 0.025em;
  border-radius: 8px;
  text-align: center;
  box-shadow: 1px 3px 4px #2f2f2f;
  text-shadow: 1px 1px 4px #000;
  font-size: 1.1em;
  font-weight: 800;
  font-style: italic;
  color: #fefefe;
  background-image: linear-gradient(95deg, #164e63 0%, #22d3ee 50%, #164e63 100%);
}
span[class="status"], span[class^="rate"] {
  height: auto;
  width: 100%;
  padding: 0.025em;
  border-radius: 8px;
  box-shadow: 1px 2px 4px #4a4a4a;
}

span[class~="one"] span:first-of-type {
  background-image: linear-gradient(90deg, #dca62a 0%, #ffa228 50%, #dca62a 100%);
}

span[class~="two"] span:nth-of-type(-n + 2) {
  background-image: linear-gradient(90deg, #dca62a 0%, #ffa228 50%, #dca62a 100%);
}

span[class~="three"] span {
  background-image: linear-gradient(90deg, #dca62a 0%, #ffa228 50%, #dca62a 100%);
}
