* {
  box-sizing: border-box;
}

body {
  width: 100vh;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  border: 4px double #284ac8;
  border-radius: 12px;
  color: #284ac8;
  text-shadow: 1px 3px 4px #2828a2; 
}

span {
  display: inline-block;
}

tr[class="read"] {
  background-image: linear-gradient(90deg,#e4a1ff 25%, #d4af6a 50%, #e4a1ff 75%);
  width: 100%;
}

tr[class="to-read"] {
  background-image: linear-gradient(90deg, #d6ddc2 25%, #e42a2b 50%, #d6ddc2 75%);
  width: 100%;
}

tr[class="in-progress"] {
  background-image: linear-gradient(100deg, #a2a5ff 25%, #ffddcc 50%, #a2a5ff 75%);
  width: 100%;
} 

tr[class="to-read"] span[class="status"] {
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 0.025em;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  box-shadow: 1px 2px 3px #222222;
  background-image: linear-gradient(90deg, #d1c40f 25%, #ff6a8f 50%, #d1c40f 75%);
  color: #2a2ae2;
}

 span[class^="rate"] > span {
  border: 1px solid #2f2faf;
  border-radius: 12px;
  margin: 4px;
  padding: 0.025em;
  width: 1.2em;
  height: 1.2em;
  background-image: radial-gradient(#d6d6d6 25%, #a2a2ff 50%, #d6d6d6 75%);
}

tr[class="read"] span[class="status"] {
  border: 1px solid #dfdfdf;
  width: 100%;
  padding: 0.025em;
  border-radius: 12px;
  text-align: center;
  box-shadow: 1px 3px 4px #4c4cb2;
  background-image: linear-gradient(90deg, #d6e6ff 25%, #8fb8b8 50%, #d2b2ff 75%);
  font-size: 1.2em;
  font-weight: 500;
  color: #2a2ae2;
